<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrm7ncOpU1fgZtpmgsaJJUV-R5iIu66yU</string>
	<key>GCM_SENDER_ID</key>
	<string>87463248206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatV2App.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cembo-chat-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>cembo-chat-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87463248206:ios:f7082b3153075928191e1f</string>
</dict>
</plist>